.gallery {
  display: flex;
  gap: 0.1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.mosque_photos {
  min-width: 15rem;
  width: 15rem;
  height: 15rem;
  max-width: 15rem;
  scroll-snap-align: center;
}
.details_section {
  padding: 1rem;
}
.name_section h1 {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.address_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}
.address {
  flex-grow: 1;
}
.address h2 {
  font-size: var(--fs-100);
  font-weight: var(--fw-semibold);
}
.direction {
  flex-basis: 3rem;
}
.directionButton {
  /* Customize the direction button styles */
  background-color: var(--clr-accent-100); /* Google Maps blue */
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 3rem;
  height: 3rem;
}

/* Direction Button Icon styles */
.directionButton svg {
  fill: var(--clr-neutral-100); /* Icon color as white */
  height: 2rem;
  width: 2rem;
}

/* Hover effect */
.directionButton:hover {
  background-color: var(--clr-accent-200); /* Slightly darker blue on hover */
}
