.gallery {
  display: flex;
  height: 15rem;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.mosque_photos {
  min-width: 60%;
  height: 100%;
  margin: 0.1rem;
  scroll-snap-align: center;
}
.detail_section,
.address_section {
  padding: 1rem;
}
.detail_section h1 {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}
