.rootLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}
.hideMap {
  display: none;
}
.showMap {
  display: block;
}
@media (min-width: 25rem) {
  .outlet {
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
  }
}
