.rootLayout {
  position: relative;
}
.map {
  min-width: 300px;
  width: 100dvw;
  height: 100dvh;
}
.outlet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.hideMap {
  display: none;
}
.showMap {
  display: block;
}
